body
{
}
#permissions1 
{
	margin-top: 20px;
}
#permissions1 td
{	
	padding: 10px 20px;
}
#permissions1 td.left
{
	border-right: solid 1px gray;
}

.overview 
{
	padding: 10px 20px;
	font-style: italic;
}