<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPal_Invoicing_SDK" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />    
  </configSections>
  
  <!-- PayPal SDK config -->
  <paypal>  
    <settings>
      <add name="endpoint" value="https://svcs.sandbox.paypal.com/"/>
      <add name="connectionTimeout" value="360000"/>
      <add name="binding" value="SOAP"/>
      <add name="trustAllCertificates" value="true"/>
      <add name="requestRetries" value="3"/>
      <add name="IPAddress" value="127.0.0.1"/>
    </settings>
    
    <accounts>
      <account apiUsername="jb-us-seller_api1.paypal.com" apiPassword="WX4WTU3S8MY44S7F" 
          apiSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31A7yDhhsPUU2XhtMoZXsWHFxu-RWy" applicationId="APP-80W284485P519543T"/>
      <account apiUsername="jb-us-seller2_api1.paypal.com" apiPassword="Y382QH72D4MQYJT3"
          apiCertificate="C:/certs/paypal.p12" 
          privateKeyPassword="11111111" applicationId="APP-5XV204960S3290106"/>
      <account apiUsername="incomplete-credentials_api1.paypal.com" apiPassword="Y382QH72D4MQYJT3"/>      
    </accounts>    
  </paypal>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="../../logs/paypal_platform.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  
  <appSettings>
  </appSettings>
</configuration>