<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="tests" tests="58" assertions="134" failures="0" errors="0" time="9.755541">
    <testsuite name="PPAPIServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPAPIServiceTest.php" tests="2" assertions="2" failures="0" errors="0" time="0.002393">
      <testcase name="testSetServiceName" class="PPAPIServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPAPIServiceTest.php" line="37" assertions="2" time="0.001516"/>
      <testcase name="testMakeRequest" class="PPAPIServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPAPIServiceTest.php" line="48" assertions="0" time="0.000877"/>
    </testsuite>
    <testsuite name="PPBaseServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPBaseServiceTest.php" tests="1" assertions="3" failures="0" errors="0" time="0.001014">
      <testcase name="testGetServiceName" class="PPBaseServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPBaseServiceTest.php" line="39" assertions="3" time="0.001014"/>
    </testsuite>
    <testsuite name="PPCertificateCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCertificateCredentialTest.php" tests="8" assertions="8" failures="0" errors="0" time="0.008015">
      <testcase name="testValidateUname" class="PPCertificateCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCertificateCredentialTest.php" line="35" assertions="1" time="0.001016"/>
      <testcase name="testValidatePwd" class="PPCertificateCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCertificateCredentialTest.php" line="48" assertions="1" time="0.001387"/>
      <testcase name="testValidateCertPath" class="PPCertificateCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCertificateCredentialTest.php" line="58" assertions="1" time="0.000996"/>
      <testcase name="testValidateAppId" class="PPCertificateCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCertificateCredentialTest.php" line="67" assertions="1" time="0.001018"/>
      <testcase name="testGetUserName" class="PPCertificateCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCertificateCredentialTest.php" line="77" assertions="1" time="0.000917"/>
      <testcase name="testGetPassword" class="PPCertificateCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCertificateCredentialTest.php" line="86" assertions="1" time="0.000894"/>
      <testcase name="testGetCertificatePath" class="PPCertificateCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCertificateCredentialTest.php" line="94" assertions="1" time="0.000891"/>
      <testcase name="testGetApplicationId" class="PPCertificateCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCertificateCredentialTest.php" line="101" assertions="1" time="0.000896"/>
    </testsuite>
    <testsuite name="PPConfigManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConfigManagerTest.php" tests="3" assertions="9" failures="0" errors="0" time="0.003100">
      <testcase name="testGetInstance" class="PPConfigManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConfigManagerTest.php" line="39" assertions="1" time="0.000885"/>
      <testcase name="testGet" class="PPConfigManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConfigManagerTest.php" line="49" assertions="5" time="0.001136"/>
      <testcase name="testGetIniPrefix" class="PPConfigManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConfigManagerTest.php" line="65" assertions="3" time="0.001079"/>
    </testsuite>
    <testsuite name="PPConfigurationExceptionTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConfigurationExceptionTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000939">
      <testcase name="testPPConfigurationException" class="PPConfigurationExceptionTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConfigurationExceptionTest.php" line="33" assertions="1" time="0.000939"/>
    </testsuite>
    <testsuite name="PPConnectionExceptionTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConnectionExceptionTest.php" tests="2" assertions="2" failures="0" errors="0" time="0.001874">
      <testcase name="testGetUrl" class="PPConnectionExceptionTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConnectionExceptionTest.php" line="37" assertions="1" time="0.000934"/>
      <testcase name="testPPConnectionException" class="PPConnectionExceptionTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConnectionExceptionTest.php" line="44" assertions="1" time="0.000940"/>
    </testsuite>
    <testsuite name="PPConnectionManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConnectionManagerTest.php" tests="2" assertions="5" failures="0" errors="0" time="0.002224">
      <testcase name="testGetInstance" class="PPConnectionManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConnectionManagerTest.php" line="37" assertions="1" time="0.001036"/>
      <testcase name="testGetConnection" class="PPConnectionManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPConnectionManagerTest.php" line="46" assertions="4" time="0.001188"/>
    </testsuite>
    <testsuite name="PPCredentialManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCredentialManagerTest.php" tests="2" assertions="11" failures="0" errors="0" time="0.002353">
      <testcase name="testGetInstance" class="PPCredentialManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCredentialManagerTest.php" line="37" assertions="1" time="0.001157"/>
      <testcase name="testGetCredentialObject" class="PPCredentialManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPCredentialManagerTest.php" line="47" assertions="10" time="0.001196"/>
    </testsuite>
    <testsuite name="PPInvalidCredentialExceptionTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPInvalidCredentialExceptionTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000924">
      <testcase name="testErrorMessage" class="PPInvalidCredentialExceptionTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPInvalidCredentialExceptionTest.php" line="37" assertions="1" time="0.000924"/>
    </testsuite>
    <testsuite name="PPLoggingManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPLoggingManagerTest.php" tests="5" assertions="0" failures="0" errors="0" time="0.004279">
      <testcase name="testLog" class="PPLoggingManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPLoggingManagerTest.php" line="37" assertions="0" time="0.000879"/>
      <testcase name="testError" class="PPLoggingManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPLoggingManagerTest.php" line="45" assertions="0" time="0.000846"/>
      <testcase name="testWarning" class="PPLoggingManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPLoggingManagerTest.php" line="54" assertions="0" time="0.000853"/>
      <testcase name="testInfo" class="PPLoggingManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPLoggingManagerTest.php" line="62" assertions="0" time="0.000847"/>
      <testcase name="testFine" class="PPLoggingManagerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPLoggingManagerTest.php" line="70" assertions="0" time="0.000854"/>
    </testsuite>
    <testsuite name="PPMissingCredentialExceptionTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPMissingCredentialExceptionTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.001949">
      <testcase name="testErrorMessage" class="PPMissingCredentialExceptionTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPMissingCredentialExceptionTest.php" line="37" assertions="1" time="0.001949"/>
    </testsuite>
    <testsuite name="PPObjectTransformerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPObjectTransformerTest.php" tests="1" assertions="2" failures="0" errors="0" time="0.001009">
      <testcase name="testToString" class="PPObjectTransformerTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPObjectTransformerTest.php" line="39" assertions="2" time="0.001009"/>
    </testsuite>
    <testsuite name="PPSignatureCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPSignatureCredentialTest.php" tests="8" assertions="8" failures="0" errors="0" time="0.007659">
      <testcase name="testValidateSignature" class="PPSignatureCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPSignatureCredentialTest.php" line="37" assertions="1" time="0.000939"/>
      <testcase name="testValidateUsername" class="PPSignatureCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPSignatureCredentialTest.php" line="46" assertions="1" time="0.000930"/>
      <testcase name="testValidatepwd" class="PPSignatureCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPSignatureCredentialTest.php" line="55" assertions="1" time="0.000929"/>
      <testcase name="testValidateAppId" class="PPSignatureCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPSignatureCredentialTest.php" line="64" assertions="1" time="0.000933"/>
      <testcase name="testGetSignature" class="PPSignatureCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPSignatureCredentialTest.php" line="73" assertions="1" time="0.000981"/>
      <testcase name="testGetUserName" class="PPSignatureCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPSignatureCredentialTest.php" line="80" assertions="1" time="0.000894"/>
      <testcase name="testGetPassword" class="PPSignatureCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPSignatureCredentialTest.php" line="87" assertions="1" time="0.001150"/>
      <testcase name="testGetAppId" class="PPSignatureCredentialTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPSignatureCredentialTest.php" line="94" assertions="1" time="0.000904"/>
    </testsuite>
    <testsuite name="PPUtilsTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPUtilsTest.php" tests="4" assertions="6" failures="0" errors="0" time="0.020796">
      <testcase name="testNvpToMap" class="PPUtilsTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPUtilsTest.php" line="37" assertions="3" time="0.001005"/>
      <testcase name="testArray_match_key" class="PPUtilsTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPUtilsTest.php" line="48" assertions="2" time="0.001173"/>
      <testcase name="testGetLocalIPAddress" class="PPUtilsTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPUtilsTest.php" line="59" assertions="0" time="0.017702"/>
      <testcase name="testGetRequestSource" class="PPUtilsTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\PPUtilsTest.php" line="68" assertions="1" time="0.000916"/>
    </testsuite>
    <testsuite name="BaseAddressTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\BaseAddressTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000999">
      <testcase name="testToNVPString" class="BaseAddressTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\BaseAddressTest.php" line="37" assertions="1" time="0.000999"/>
    </testsuite>
    <testsuite name="BusinessInfoTypeTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\BusinessInfoTypeTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000980">
      <testcase name="testToNVPString" class="BusinessInfoTypeTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\BusinessInfoTypeTest.php" line="38" assertions="1" time="0.000980"/>
    </testsuite>
    <testsuite name="CreateAndSendInvoiceRequestTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\CreateAndSendInvoiceRequestTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.001145">
      <testcase name="testToNVPString" class="CreateAndSendInvoiceRequestTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\CreateAndSendInvoiceRequestTest.php" line="37" assertions="1" time="0.001145"/>
    </testsuite>
    <testsuite name="CreateAndSendInvoiceResponseTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\CreateAndSendInvoiceResponseTest.php" tests="1" assertions="7" failures="0" errors="0" time="0.001606">
      <testcase name="testDecode" class="CreateAndSendInvoiceResponseTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\CreateAndSendInvoiceResponseTest.php" line="44" assertions="7" time="0.001606"/>
    </testsuite>
    <testsuite name="CreateInvoiceRequestTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\CreateInvoiceRequestTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.001094">
      <testcase name="testToNVPString" class="CreateInvoiceRequestTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\CreateInvoiceRequestTest.php" line="37" assertions="1" time="0.001094"/>
    </testsuite>
    <testsuite name="CreateInvoiceResponseTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\CreateInvoiceResponseTest.php" tests="1" assertions="7" failures="0" errors="0" time="0.001707">
      <testcase name="testDecode" class="CreateInvoiceResponseTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\CreateInvoiceResponseTest.php" line="35" assertions="7" time="0.001707"/>
    </testsuite>
    <testsuite name="ErrorDataTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\ErrorDataTest.php" tests="1" assertions="7" failures="0" errors="0" time="0.002307">
      <testcase name="testErrorData" class="ErrorDataTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\ErrorDataTest.php" line="48" assertions="7" time="0.002307"/>
    </testsuite>
    <testsuite name="FaultMessageTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\FaultMessageTest.php" tests="1" assertions="17" failures="0" errors="0" time="0.005804">
      <testcase name="testFaultMessage" class="FaultMessageTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\FaultMessageTest.php" line="59" assertions="17" time="0.005804"/>
    </testsuite>
    <testsuite name="InvoiceServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\InvoiceServiceTest.php" tests="4" assertions="20" failures="0" errors="0" time="9.675495">
      <testcase name="testCreateInvoice" class="InvoiceServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\InvoiceServiceTest.php" line="38" assertions="5" time="3.738035"/>
      <testcase name="testCreateInvoiceForThirdParty" class="InvoiceServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\InvoiceServiceTest.php" line="65" assertions="5" time="2.075336"/>
      <testcase name="checkSendInvoice" class="InvoiceServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\InvoiceServiceTest.php" line="90" assertions="5" time="1.810302"/>
      <testcase name="testCreateAndSendInvoice" class="InvoiceServiceTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\InvoiceServiceTest.php" line="109" assertions="5" time="2.051822"/>
    </testsuite>
    <testsuite name="InvoiceTypeTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\InvoiceTypeTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.001232">
      <testcase name="testToNVPString" class="InvoiceTypeTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\InvoiceTypeTest.php" line="37" assertions="1" time="0.001232"/>
    </testsuite>
    <testsuite name="RequestEnvelopeTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\RequestEnvelopeTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000897">
      <testcase name="testToNVPString" class="RequestEnvelopeTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\RequestEnvelopeTest.php" line="37" assertions="1" time="0.000897"/>
    </testsuite>
    <testsuite name="ResponseEnvelopeTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\ResponseEnvelopeTest.php" tests="1" assertions="4" failures="0" errors="0" time="0.001009">
      <testcase name="ResponseEnvelopeTest" class="ResponseEnvelopeTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\ResponseEnvelopeTest.php" line="36" assertions="4" time="0.001009"/>
    </testsuite>
    <testsuite name="SendInvoiceRequestTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\SendInvoiceRequestTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000912">
      <testcase name="testToNVPString" class="SendInvoiceRequestTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\SendInvoiceRequestTest.php" line="37" assertions="1" time="0.000912"/>
    </testsuite>
    <testsuite name="SendInvoiceResponseTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\SendInvoiceResponseTest.php" tests="1" assertions="6" failures="0" errors="0" time="0.001825">
      <testcase name="SendInvoiceResponseTest" class="SendInvoiceResponseTest" file="C:\wamp\www\NewSDK\Invoicing\invoice8API\tests\service\SendInvoiceResponseTest.php" line="36" assertions="6" time="0.001825"/>
    </testsuite>
  </testsuite>
</testsuites>
